h1{
  color:aquamarine !important;
  font-weight: bold;
}
.monday{
  background-color: rgb(143, 88, 143);
  color:black;
  font-size: small;
}
.monday #tuesday{
  background-color: rgb(62, 110, 110);
  color: black;
  font-style: italic;
}